{
    "Connections": [
        {
            "Key": "Cicp",
            "ConnectionString": "Data Source=44.8.55.25; Initial Catalog=CICP; Integrated Security=False;User ID=sa;Password=CICser2016",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.MobileUser",
                    "Identifier": "MobileUser",
                    "Module": "MobileUser",
                    "ConnectionKey": "Cicp",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.MobileAccount",
                    "Identifier": "MobileAccount",
                    "Module": "MobileUser",
                    "ConnectionKey": "Cicp",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSQLLocalDB; Initial Catalog=CICP_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSQLLocalDB; Initial Catalog=CICP_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\CICP\\CICP.Web\\CICP.Web.csproj",
    "RootNamespace": "CICP",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false
}