
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MobileUser.Result.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CICP.MobileUser.ResultGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>