
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MobileUser.RongTuo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CICP.MobileUser.RongTuoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>

<script type="text/javascript">
        function GetTime() {
        $.ajax({
            type:"get",
            url: "/HelloWorld/jsonResultAction",
            dataType: "json",
            success: function (data) {
                $("#myPnl").html(data.respDesc);
                },
            });
        }
</script>

<body>
    <div id="myPnl" style="width: 300px; height: 30px; border: 1px dotted silver;"></div>
</body>