
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.MobileUser.RongTuo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CICP.MobileUser.RongTuoGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>